<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include("./partials/head.ejs") %>
<!-- Include Head -->

<body>
	<!-- Header -->
	<%- include("./partials/header.ejs") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">

			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>

			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/users/login" method="post" class="formularios">

					<label for="email">Correo Electrónico:</label>
					<input type="email" id="email" name="email" value= "" required><br>
					<% if (locals.error && error.email){ %>
					<p class = "feedback"> <%= error.email.msg %> </p>
					<% } %>
					<label for="contrasenia">Contraseña:</label>
					<input type="password" id="contrasenia" name="contrasenia" value="" required><br>
					<% if(locals.error && error.contrasenia){  %> 
						<p><%= error.contrasenia.msg %></p>
						<% } %>
					  
					<label for="recordarme">Recordarme:</label>
					<input type="checkbox" id="recordarme" name="recordarme"><br>

					<input type="submit" value="Iniciar sesión">

				</form>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	</footer>
	<!-- /footer -->
</body>

</html>