<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include("./partials/head.ejs") %>
<!-- Include Head -->

<body>
	<!-- Header -->
	<%- include("./partials/header.ejs") %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= productos.nombre %></h2> 
			<p class="product-detail-description"> <a href="/users/profile/<%= productos.usuario.id %>"> Publicado por: <%= productos.usuario.usuario %></a></p>
			<p class="product-detail-description"> <a href="/product/add">Editar</a></p>
		</div>

		<div class="product-detail">
			<div class="row">

				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= productos.foto %>" alt="foto del producto" class="foto-producto">
					<p class="product-detail-description">
						<%= productos.descripcion %>
						</p>
				</article>

				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i = 0; i < productos.comentarios; i++) { %>

							<article>
								<img src= "/images/users/<%=  productos[0].comentarios[i].fotoPerfil%>"> 
								<div> 
									<p> <a href="/users/profile"> <%=productos.comentarios[i].nombreUsuario%> : </a> <%= productos[0].comentarios[i].texto%> </p>
								</div>
							</article>
						<% } %>
					</section>

					<form class="formularios comentarios" action="/product" method="get">
						<input type="text" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					
				</div>

			</div>
		</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->

</body>	
</html>