<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include("./partials/head.ejs") %>
<!-- Include Head -->

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	 <% } else { %>
		<%- include('./partials/header') %>
	<% } %>	
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= productos.nombre %></h2> 
			<p class="product-detail-description"> <a href="/users/profile/<%= productos.usuario.id %>"> Publicado por: <%= productos.usuario.usuario %></a></p>
			<% if (locals.user != undefined && locals.user.id == productos.usuario.id) { %>
				<p class="product-detail-description"> <a href="/product/edit/<%= productos.id %>">Editar</a></p>
				<p class="product-detail-description"> <a href="/product/delete/<%= productos.id %>">Eliminar</a></p>
			<% } %>
		</div>

		<div class="product-detail">
			<div class="row">

				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= productos.foto %>" alt="foto del producto" class="foto-producto">
					<p class="product-detail-description">
						<%= productos.descripcion %>
						</p>
				</article>

				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i = 0; i < productos.comentarios.length; i++) { %>

							<article>
								<div> 
									
									<a href="/users/profile/<%= productos.comentarios[i].usuario.id %>">
									<h2 > <%= productos.comentarios[i].usuario.usuario %> </h2>
									</a>
									<p > <%= productos.comentarios[i].comentario %> </p>

								</div>
							</article>
						<% } %>
					</section>

					<form class="formularios comentarios" action="/product/<%= productos.id %>/" method="post">
						<% if (locals.user != undefined) { %>
							<input type="hidden" name="productoId" value="<%= productos.id %>">
							<input type="text" name ="comentario" placeholder="Agregar comentario" value="" required>>
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
							<% if (locals.errors && errors.comentario){ %>
								<p class="feedback"><%= errors.comentario.msg %></p>
							<% } %>

						<% } else if (locals.user == undefined) {  %>
							<p  class="product-detail-description-comentario">Debes iniciar sesión para comentar </p>

							<% } %>
							
						
					</form>
					
				</div>

			</div>
		</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->

</body>	
</html>