<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include("./partials/head.ejs") %>
<!-- Include Head -->

<body>
	<!-- Header -->
	<%- include('partials/headerLogueado.ejs') %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/users/<%= usuario.foto %>" alt="foto de perfil" class="fotoPerfil">
			</div>

			<div class="data-container col-6">

				<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%= usuario.usuario %>
						<% if (usuario.id !== locals.user.id){ %>
						
						<% }else{ %>
							<a href="/users/profile/edit">

								<i class="fas fa-cog"></i>
							</a>
							<% 	}  %>
					
					</h1>

					<% if (usuario.id !== locals.user.id){ %>
						<a class="btn mt-3 ml-4" href="">SEGUIR</a
						
						<% }else{ %>
							
							<% 	}  %>
					
				</div>
				

				<div>
					<ul class="informacionUsuario">
						
					</ul>
				</div>

			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">

			<div class="col-12">
				
					<% if (usuario.id !== locals.user.id){ %>
						<h2 class="products-title">Sus Productos</h2>
					
					<% }else{ %>
						<h2 class="products-title">Mis Productos</h2>
						<% 	}  %>

			</div>
			<!-- Show mis productos -->
			<% for (let i = 0; i < usuario.productos.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= usuario.productos[i].id %>">
							<figure class="product-box_image">
								<img class="fotoIndex" src= "<%= usuario.productos[i].foto %>">
							</figure>
							<article class="product-box_data">
								<h2><%= usuario.productos[i].nombre %></h2>
								<p><%= usuario.productos[i].descripcion %></p>
								<p>Comentarios: <%= usuario.productos[i].comentarios %></p>
							</article>
						</a>
					</section>
				</div>
			<% } %>

			
		</div>
	</div>
	<!-- /Mis productos -->

	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
	
</body>	
</html>