<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include("./partials/head.ejs") %>
<!-- Include Head -->

<body>
	<!-- Header -->
	<%- include("./partials/header.ejs") %>
	<!-- /Header -->

	<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="container products-wrapper">
						<div class="row">
							<div class="col-12">
								<h2 class="products-title">Resultados de búsqueda</h2>
							</div>

							<!-- Show the "ultimos" products -->
							<% for (let i=0; i < productos.length; i++) { %>
								<div class="col-12 col-sm-6 col-lg-3">
									<section class="product-box">
										<a href="/product">
											<figure class="product-box_image"> 
												<img class="fotoIndex" src="/images/products/<%= productos[i].foto %>"> 
												<% console.log(productos.foto) %>
											 </figure>
											<article class="product-box_data">
												<h2> <%= productos.nombre %> </h2>
												<p> <%= productos.descripcion %> </p>
												<p>Comentarios: <%= productos.comentarios %> </p>
											</article>
										</a>
									</section>
								</div>
								<% } %>
						</div>
					</div>
				</div>
			</div>
	<!-- Novedades -->

	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->

</body>
</html>